@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
p {
    color: #424551;
    font-size: 16px;
}
h1 {
    color: #1e212c;
    font-size: 46px;
    font-weight: 900;
}

.text {
    color: #1e212c;
    font-size: 20px;
    font-weight: 700;
}
ul{
    color: #424551;
}
